.container {
    padding: 20px;
    .header-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
     
    .add-txn {
        float: right;
        margin-top: 20px;
        text-decoration: underline;
        color: rgb(13 110 253);
        cursor: pointer;
    }
}